html{
    background: #E5E5E5;
}

.title_page{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 96px;
    background: -webkit-linear-gradient(-45deg, #00BF8F 0%, rgba(0, 21, 16, 0) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid #00bf8f;
    background-color: #E5E5E5;
    width: 100%;
    float: right;
    margin: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 130%;     
  }

  label{
      margin: 5px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      text-align: center;
      font-size: 130%;      
  }

  input[type=submit]{
      width: 75%;
      margin-left: 12.5%;
      font-size: 300%;      
      padding: 2.5%;
      border-radius: 500px;
      border: none;
      background: -webkit-linear-gradient(-45deg, #00BF8F 0%, rgba(0, 21, 16, 0) 100%);
  }