html{
    background: #E5E5E5;
}

.title_page2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 96px;
    background: -webkit-linear-gradient(-45deg, #00BF8F 0%, rgba(0, 21, 16, 0) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.object{
    background: linear-gradient(90.09deg, #475993 0.08%, rgba(71, 89, 147, 0) 99.92%);
    border-radius: 75px;
    display: grid;
    grid-template-columns: 500px auto;
    grid-column-gap: 50px;
    margin: 5%;
}

.object_img{
    height: 250px;
    grid-column: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.object_title{
    text-align: center;
    grid-column: 2;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    justify-self: center;    
}

.object_add{
    background: linear-gradient(90deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);    border-radius: 75px;
    display: grid;
    grid-template-columns: 500px auto;
    grid-column-gap: 50px;
    margin: 5%;
}

.object_add_text_1{
    text-align: center;
    grid-column: 1;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    justify-self: center;    
}
.object_add_text_2{
    text-align: center;
    grid-column: 2;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    justify-self: center;    
}

a:link {
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

a:active {
    text-decoration: none;
}