html {
    background: linear-gradient(116.82deg, #00BF8F 0%, rgba(0, 21, 16, 0) 100%);
}

.element_number {
    font-size: 12px;
    margin-top: 0%;
    margin-bottom: 0%;
}
.element_letter {
    font-size: 48px;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}
.element_name {
    font-size: 11px;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}
.element_weight {
    font-size: 11px;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

.element_box {
    border-style: solid;
    width: 80px;
    height: 100px;
    border-image-slice: 1;
    border-image-source: linear-gradient(#00BF8F, #001510);
}

.grid-container {
    display: inline-grid;
}

.grid_item1{
    grid-column: 1;
    grid-row: 1;
}
.grid_item2{
    grid-column: 18;
    grid-row: 1;
}
.grid_item3{
    grid-column: 1;
    grid-row: 2;
}
.grid_item4{
    grid-column: 2;
    grid-row: 2;
}
.grid_item5{
    grid-column: 13;
    grid-row: 2;
}
.grid_item6{
    grid-column: 14;
    grid-row: 2;
}
.grid_item7{
    grid-column: 15;
    grid-row: 2;
}
.grid_item8{
    grid-column: 16;
    grid-row: 2;
}
.grid_item9{
    grid-column: 17;
    grid-row: 2;
}
.grid_item10{
    grid-column: 18;
    grid-row: 2;
}

/*dit zijn de 2de tien elementen */
.grid_item1{
    grid-column: 1;
    grid-row: 1;
}
.grid_item2{
    grid-column: 18;
    grid-row: 1;
}
.grid_item3{
    grid-column: 1;
    grid-row: 2;
}
.grid_item4{
    grid-column: 2;
    grid-row: 2;
}
.grid_item5{
    grid-column: 13;
    grid-row: 2;
}
.grid_item6{
    grid-column: 14;
    grid-row: 2;
}
.grid_item7{
    grid-column: 15;
    grid-row: 2;
}
.grid_item8{
    grid-column: 16;
    grid-row: 2;
}
.grid_item9{
    grid-column: 17;
    grid-row: 2;
}
.grid_item10{
    grid-column: 18;
    grid-row: 2;
}